* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.title {
    text-align: center;
    background-color: rgb(132, 190, 197);
    font-size: 250px;
}

.recipe  {
    background-color: antiquewhite;
}


img {
    width: 300px;
    height: auto;
}


h3 {
    text-align: center;
}

#food-list {
    text-align: center;
}